
/*MAKES MODAL SCROLL WITHIN WINDOW*/
.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
    font-size: 14px;
}

.modal .modal-content{
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  font-size: 15px;
}

.modal .modal-title {
    font-size: 20px;
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-body {
  font-size: 14px;
}

body {
  font-size: 15px;
}
