@import url('https://fonts.googleapis.com/css?family=Orbitron');

h1{
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
}

.container-fluid{
  padding-left: 0;
}

/*====POPOVER STYLING=====*/
.popover{
  background-color: rgba(0, 0, 0, 0.4);
  max-width: 80%;
  align-items: center;
  align-content: center;
}


/*====TEXT MODAL STYLING=====*/
.modal-content{
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  border: 2px solid;
}

.modal-title {
  font-size: 20px;
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #265a88;
  background-color: #337bb8;
  /*original header color: 142633 original line color: 2e5b7c*/
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  /*max-height: 420px;*/
  overflow-y: auto;
}

.modal-dialog {
  margin-top: 50px;
}

.modal-body p{
  font-size: 17px;
  color: #8db0b9;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
  line-height: 1.2;
}

.modal-body b{
  font-size: 24px;
  font-weight: 800;
  line-height: 1.5;
  text-align: left;
}

/*====IMG MODAL STYLING=====*/

.modal #imgTitle{
  font-size: 30px;
  font-weight: 800;
  line-height: 2;
  color: #8db0b9;
  align-content: center;
}

#imgModalContent{
  text-align: center;
}

#imgCaption{
  font-size: 20px;
}

#planetImg{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*====WIDTH RESPONSIVE STYLING=====*/
@media screen and (min-width: 200px){
  h1 {font-size: 12px}
}

@media screen and (min-width: 400px){
  h1 {font-size: 17px}
}

@media screen and (max-width: 500px){
  #blankBody {font-size: 80%;}
}

@media screen and (max-width: 600px){
  #blankBody {font-size: 90%;}
  .modal-body { max-height: 450px; }
}

@media screen and (min-width: 600px){
  .modal-body { max-height: 420px; }
  #blankBody {font-size: 95%;}
  /*h1 {font-size: 20px}*/
}

@media screen and (min-width: 740px){
  .modal-body { max-height: 520px; }
  #blankBody {font-size: 90%;}
}

@media screen and (min-width: 1000px){
  #blankBody {font-size: 20px;}
  .modal-body { max-height: 540px; }
  h1 {font-size: 30px}
}

/*====HEIGHT RESPONSIVE STYLING=====*/
@media screen and (min-height: 300px){
  .modal-body {max-height: 180px;}
  .modal-dialog {margin-top: 8px}
  .modal-header {padding: 8px}
  .modal-footer {padding: 8px}
  #blankBody {font-size: 80%;}
}

@media screen and (min-height: 360px){
  .modal-body { max-height: 210px; }
  .modal-dialog {margin-top: 15px}
  #blankBody {font-size: 80%;}
}

@media screen and (min-height: 410px){
  .modal-body {max-height: 240px;}
  .modal-dialog {margin-top: 22px}
}

@media screen and (min-height: 490px){
  .modal-body { max-height: 270px; }
  .modal-dialog {margin-top: 38px}
}

@media screen and (min-height: 570px){
  .modal-body {max-height: 340px;}
  .modal-dialog {margin-top: 55px}
}

@media screen and (min-height: 700px){
  .modal-body {max-height: 450px;}
  .modal-dialog {margin-top: 55px}
}

@media screen and (min-height: 790px){
  .modal-body {max-height: 520px;}
  .modal-dialog {margin-top: 60px}
}

@media screen and (min-height: 900px){
  .modal-body { max-height: 640px; }
  .modal-dialog {margin-top: 70px}
}
